n8n_unified_workflow.json
{
  "name": "finaCia - Professional Business API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "finacia-unified-data",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "u1-webhook",
      "name": "Webhook (Business API)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "operation": "getAll",
        "documentId": {
          "__rl": true,
          "value": "ID_HOJA_NEGOCIO",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Hoja 1",
          "mode": "name"
        },
        "options": {}
      },
      "id": "u2-sheets-business",
      "name": "Leer Negocio",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "/* NODES: PROCESAMIENTO PROFESIONAL DE NEGOCIO */\nconst inputData = $input.all();\nconst business = { transactions: [] };\n\nfunction cleanCurrency(val) {\n  if (val === undefined || val === null || val === \"\") return 0;\n  try {\n    let s = String(val).replace(/[€*%\\s\\(\\)]/g, '').trim();\n    if (s === \"\" || s === \"-\") return 0;\n    if (s.includes(',') && s.includes('.')) s = s.replace(/\\./g, '').replace(',', '.');\n    else if (s.includes(',')) s = s.replace(',', '.');\n    else if (s.includes('.')) {\n      const parts = s.split('.');\n      if (parts[parts.length-1].length === 3) s = s.replace(/\\./g, '');\n    }\n    return parseFloat(s) || 0;\n  } catch (e) { return 0; }\n}\n\nfor (const item of inputData) {\n  const json = item.json; if (!json) continue;\n  if (json.Monto !== undefined) {\n    const amount = cleanCurrency(json.Monto);\n    const originalType = String(json.Tipo || '').trim();\n    let rawType = originalType.toUpperCase();\n    let rawConcept = String(json.Concepto || '').trim().toUpperCase();\n    \n    // Normalize underscore for internal classification\n    let typeTag = rawType.replace(/_/g, ' ');\n    let type = 'Venta';\n\n    if (rawType.includes('COMPRA')) {\n       type = 'Compra';\n    } else if (rawType.includes('ADS') || rawType.includes('PUBLICIDAD') || rawConcept.includes('PUBLICIDAD')) {\n       type = 'Publicidad';\n    } else if (rawType.includes('ENVI') || rawConcept.includes('ENVI') || rawConcept.includes('SHIPPING')) {\n       type = 'Envío';\n    } else if (rawType.includes('DEVOLI') || rawType.includes('DEVOLU')) {\n       if (rawType.includes('FAVOR') || rawConcept.includes('FAVOR')) type = 'Devolución a favor';\n       else if (rawType.includes('CONTRA') || rawConcept.includes('CONTRA')) type = 'Devolución en contra';\n       else type = 'Devolución en contra';\n    } else {\n       // Fallback to formatted original Tipo if it's not simply \"VENTA\"\n       if (rawType !== 'VENTA' && rawType !== '') type = typeTag.charAt(0) + typeTag.slice(1).toLowerCase();\n    }\n    \n    business.transactions.push({\n      date: json.Fecha || '-',\n      item: json.Concepto || '-',\n      type: type,\n      raw_type: originalType,\n      amount: amount\n    });\n  }\n}\n\nreturn [{ json: { business } }];\n"
      },
      "id": "u4-code",
      "name": "Procesador de Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    }
  ],
  "connections": {
    "Webhook (Business API)": {
      "main": [
        [{"node": "Leer Negocio", "type": "main", "index": 0}]
      ]
    },
    "Leer Negocio": {
      "main": [
        [{"node": "Procesador de Datos", "type": "main", "index": 0}]
      ]
    }
  }
}
